<h1>Sign Up Here!</h1>

<form action="/signup" method="post">
  Username:<input type="text" name="username"><br>
  Password:<input type="password" name="password"><br>
  <input type="submit" value="Submit">
</form>